body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

img {
    width: 100%;
    height: auto;
  }


a:link {
    color: white;
  }
  

  a:visited {
    color: rgb(255, 238, 6);
  }
  

  a:hover {
    color: rgb(181, 181, 181);
  }
  

  a:active {
    color: rgb(181, 181, 181);
  }